body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* My Code */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  font-family: "Noto Sans", sans-serif;
}

:root {
  --primary-color: rgba(246, 112, 58, 1);
  --secondary-color: rgba(62, 137, 237, 1);
  --tertiary-color: rgb(56, 175, 129);
  --background-color-1: rgba(237, 224, 215, 1);
  --background-color-2: rgba(246, 239, 235, 1);
  --text-color-1: rgba(40, 40, 40, 1);
  --text-color-2: rgba(89, 89, 89, 1);
  --text-color-3: rgba(149, 149, 149, 1);
  --box-color-1: rgba(222, 197, 181, 1);
  --box-color-2: rgba(190, 143, 111, 1);

  width: 375px;
  height: 812px;
}

#root {
  width: 375px;
  height: 812px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: var(--background-color-1);
}

#root::-webkit-scrollbar {
  display: none;
}

.decorate__primary {
  color: var(--primary-color);
}
.decorate__secondary {
  color: var(--secondary-color);
}
.decorate__tertiary {
  color: var(--tertiary-color);
}
